@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Mehr_Nastaliq_Web";
  src: url("/Mehr_Nastaliq_Web v.2.0.woff") format("woff");
  font-weight: normal;
}

.para:has(> :last-child:nth-child(6)) {
  grid-template: "a c" auto
                "b d" auto
                "e e" auto
                "f f" auto/ 1fr 1fr;
  justify-content: center;

  &>:nth-child(1) {
    grid-area: a;
  }
  &>:nth-child(2) {
    grid-area: b;
  }
  &>:nth-child(3) {
    grid-area: c;
  }
  &>:nth-child(4) {
    grid-area: d;
  }
  &>:nth-child(5){
    grid-area: e;
  }
  &>:nth-child(6){
    grid-area: f;
  }
}